 /* body{
  margin:0px;
  padding:0px;
  background-color: beige;
}
.sort-toggler{
  position:fixed;
  bottom:0px;
  display:none;
  padding: 0;
  margin: 0;
}
.sort-toggler.bottom-list.show{
  display:block;
}
.sort-division-one{
  display:flex;
  flex-direction:column;
  width:425px;
  padding-bottom:24px;
  background-color:rgb(255,255,255,1.00);
}
.sort-division-two{
  width:401px;
  height:16px;
  font-size:16px;
  margin:12px;
}
.sort-division-three{
  margin-bottom:12px;
  height:1px;
  background-color:rgb(234,234,234);
}
.sort-division-section{
  width:425px;
}
  
.sort-division-four{
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-bottom:8px;
  margin-right:8px;
  width:417px;
}
.sort-division-five{
  display:flex;
  flex-direction:row;
  width:393px;
  padding:6px 12px;
}
.sort-division-relevance{
  color:black;
  height:16px;
}
.sort-division-six{
  display:flex;
  position:relative;
  height:16px;
  width:16px;
  margin-right:8px;
  margin-top:2px;
  justify-content:flex-end;
}


.custom-radio input {
  display: none;
}

.radio-btn {
  height: 16px;
  width: 16px;
  border: 2px solid #555;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  vertical-align: middle;
  transition: 0.3s;

}
.radio-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);

}

.custom-radio input:checked + .radio-btn::after {
   content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px; 
  background-color: blue;
   border-radius: 50%;
  transform: translate(-50%, -50%);
}


.custom-radio:hover .radio-btn {
  border-color: blue;
  /* background-color: blue; */
  /* cursor: pointer;
} */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&7 */
 
  .dropdown-content{
      width:100%;
      display: flex;

  }
  .wZsanD{
      flex-direction: column;
      padding: 0 25px;
      display:flex;
      flex-direction:column;
  }
  .DnasZw{
    background: #f9f9f9;
  }
  .cNDIdi{
      margin-top: 5px;
      padding: 8px 0;
      font-weight: 600;
      color: #212121;
      font-size:13px;
    }
    .CP4tVY::after{
    content: "►";
    color: #666;
    font-size:8px;
    margin-left: 6px;
    vertical-align: middle;

    }
  .jBYtJt{
      padding: 5px 0;
      color: #666;
      font-size: 13px;
      cursor: pointer;
      }