 /* body{
  margin:0px;
  padding:0px;
  background-color: beige;
}
.sort-toggler{
  position:fixed;
  bottom:0px;
  display:none;
  padding: 0;
  margin: 0;
}
.sort-toggler.bottom-list.show{
  display:block;
}
.sort-division-one{
  display:flex;
  flex-direction:column;
  width:425px;
  padding-bottom:24px;
  background-color:rgb(255,255,255,1.00);
}
.sort-division-two{
  width:401px;
  height:16px;
  font-size:16px;
  margin:12px;
}
.sort-division-three{
  margin-bottom:12px;
  height:1px;
  background-color:rgb(234,234,234);
}
.sort-division-section{
  width:425px;
}
  
.sort-division-four{
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-bottom:8px;
  margin-right:8px;
  width:417px;
}
.sort-division-five{
  display:flex;
  flex-direction:row;
  width:393px;
  padding:6px 12px;
}
.sort-division-relevance{
  color:black;
  height:16px;
}
.sort-division-six{
  display:flex;
  position:relative;
  height:16px;
  width:16px;
  margin-right:8px;
  margin-top:2px;
  justify-content:flex-end;
}


.custom-radio input {
  display: none;
}

.radio-btn {
  height: 16px;
  width: 16px;
  border: 2px solid #555;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  vertical-align: middle;
  transition: 0.3s;

}
.radio-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);

}

.custom-radio input:checked + .radio-btn::after {
   content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px; 
  background-color: blue;
   border-radius: 50%;
  transform: translate(-50%, -50%);
}


.custom-radio:hover .radio-btn {
  border-color: blue;
  /* background-color: blue; */
  /* cursor: pointer;
} */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&7 */

  .category-list{
    /* position: relative; */
    min-height:40px;
    height:40px;
    color: #000;
    background-color:#fff;
  }
  .category-division{
    display:flex;
    flex-direction:row;
    margin:0px 30px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
    height:40px;
    position:relative;
}
span.category{
  display:flex;
      flex-grow: 1;
  align-items:center;
  /* height:40px; */
  height:100%;
  cursor:pointer;
  justify-content: center;
  font-weight:700;
  /* min-width:100%; */
  width:auto;
  font-size:14px;
  color:#000;
  vertical-align: middle;
  align-content: center;
  font-family: 'bold';
}
span.category:hover{color:#2874f0;
  }
a.category{
  display:flex;
  align-items:center;
  height:100%;
  cursor:pointer;
  justify-content: center;
  font-weight: 500;
  min-width:120px;
  font-size:14px;

}
a.category:hover{
  color:#2874f0;
}
  .CGMB7B{
    margin-left:8px;
    transform: rotate(270deg);
    fill:#878787;
  }
.category:hover {
    color: #2874f0;
  }

  .category svg path {
    fill:#2874f0;;
    transition: transform 0.3s ease, fill 0.3s ease;
     stroke-width:2;
  }


  .category:hover svg {
    transform: rotate(90deg);
  }
 
/* 
  #js-dropdown-Menu{
    display:none;
  }
   #js-dropdown-Menu:active{
      width:100%;
      display: flex;
      /* flex-direction:row; 
      position:absolute;
      top:100%;
      left:auto;
      right:auto;

  }  */

#js-dropdown-Menu {
  display: none; 
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  z-index: 10;
}
#js-dropdown-Menu.show {
  display: flex; 
  flex-direction:row;
}


#js-dropdown-Menutwo {
  display: none; 
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  z-index: 10;
}
#js-dropdown-Menutwo.show {
  display: flex; 
  flex-direction:row;
}
#js-dropdown-Menu-three{
   display: none; 
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  z-index: 10;
}
#js-dropdown-Menu-three.show {
  display: flex; 
  flex-direction:row;
}
#js-dropdown-Menu-four{
  display: none; 
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  z-index: 10;
}
#js-dropdown-Menu-four.show{
   display: flex; 
  flex-direction:row;
}
  .wZsanD{
      padding: 0 25px;
      display:flex;
      flex-direction:column;
  }
  .DnasZw{
    background: #f9f9f9;
  }
  .cNDIdi{
      margin-top: 5px;
      padding: 8px 0;
      font-weight: 600;
      font-size:13px;
    }
    .CP4tVY::after{
    content: "►";
    color: rgb(194, 194, 194);
    font-size:8px;
    margin-left: 6px;
    vertical-align: middle;
/**/
    }
  .jBYtJt{
      padding: 5px 0;
      color: #666;
      font-size: 13px;
      cursor: pointer;
      text-decoration:none;
      }
 span.jBYtJt{
  font-weight:600;
  color:black;
 }





 /*SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/
   #section-1{
    padding:16px 16px 12px;
    align-items:center;
  }
  /* .division-3{
    height:25px;
  } */
  .division-4{
    font-size: 18px;
    text-transform: capitalize;
    width: 67%;
}
.span-1{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight:700;
}
.select-division-1{
  position:relative;
  max-height:104px;
  /* overflow:hidden; */
}
#select-division-1{
  display:none;
}
#select-division-1.show{
  display:block;
  z-index: index auto;
}
.select-division-2{
  margin: 8px 0 0 -4px;
}
.select-division-3{
 display:inline-block;
 font-size:12px;
 background-color:#d6d4d4;
 box-shadow:0 2px 4px 0 hsla(0,0%,100%.5);
 border-radius:3px;
 margin:2px 4px;
 padding:8px;
}
.select-division-4{
display:inline-block;
}
.select-division-5{
 white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;
    margin-left: 8px;
    max-width: 90%;
    display:inline-block;
}

 .section-3{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}
.division-10{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.division-11{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .3px;
    display: inline-block;
}
.ukzDZP{
  display: inline-block;
  cursor: pointer;
  width: 6px;
  height: 11px;
  transform: rotate(270deg);

}
.ukzDZP:active{
  
    transform: rotate(90deg);
}

  .network-division1{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  display: none; 
}

.network-division1.active {
  display: block; 
}

  .network-division2{
    margin:7px 0px;
  }
  .network-divisonmain{
    padding:3px 0px;
    display:inline;
  }
  .network-division3{
    width: 100%;
  }
  .network-division4{
    padding: 3px 0;
    cursor: pointer;
    width: 100%;
    /* position: relative; */
    display: block;
  }
  .network-input1{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding:0px;
    margin:0px;
  }
  .network-division5{
    position:relative;
    width:14px;
    height:14px;
    background-color: transparent;
    border: 1.5px solid #c2c2c2;
    border-radius: 1.5px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    }

  .newtwork-divsion6{
    vertical-align: middle;
    font-size:14px;
    padding-left:11px;
    color:#212121;
    display:inline-block;
    width:85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    cursor: pointer;
}


  .ram-division1{
    box-sizing:border-box;
    padding:0px;
    margin:0px;
    /* display:none; */
  }
  .ram-division1:active{
    display:block;
  }
  .brand-division-1{
   box-sizing:border-box;
   margin:0px;
   padding:0px;
  }
  .brand-division-2{
    margin-bottom:7px;

  }
  .brand-svg{
    width: 12px;
    height: 20px;
    position: absolute;
  }
  .brand-Search{
    width:100%;
    border-width:0 0 2px;
    border-color:#c2c2c2;
    height:20px;
    font-size:14px;
    padding:0 0 0 21px;
    color:#878787;
    outline:none;
  }
  #brand-division1{
    display:none;
  }
  #brand-division1:active{
    display:block;
  }
  
  .brandname-division1{
   padding:3px 0;
  }
  .brandname-division2{
   width:100%;
  }
  .brandname-label{
    padding:3px ;
    cursor: pointer;
    width: 100%;
    position: relative;
    display: block;
  }
  .brandname-division3{
    visibility:hidden;
    position:absolute;
    top:0;
    left:0;
  }
  .brandname-division4{
    position:relative;
    width:14px;
    height:14px;
    background-color:transparent;
    border:1.4px solid #c2c2c2;
    border-radius:1.5px;
    box-sizing:border-box;
    display:inline-block;
    vertical-align: middle;
    cursor:pointer;
  }
  .brand-name{
     vertical-align:middle;
     font-size:14px;
     padding-left:11px;
     color:#212121;
     display:inline-block;
     width:72%;
  }
  /***********************************************/
  .section-4{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}
.section-4:active{
   background-color:rgb(204, 245, 245); 
}
.division-13{
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .3px;
  display: inline-block;
}
.brand-arrow{
  display: inline-block;
  cursor: pointer;
  width: 6px;
  height: 11px;
  transform: rotate(270deg);
}
.division-10 svg path{
   transition: transform 0.3s ease, fill 0.3s ease;
     stroke-width:2;
}
 .division-10:active svg{
    transform: rotate(90deg);
  }
  .brand-division-1{
   box-sizing:border-box;
   margin:0px;
   padding:0px;
  }
 #brand-division1 {
  display: none; 
}

#brand-division1.active {
  display: block; 
}
  .brand-division-2{
    margin-bottom:7px;

  }
  .brand-svg{
    width: 12px;
    height: 20px;
    position: absolute;
  }
  .brand-Search{
    width:100%;
    border-width:0 0 2px;
    border-color:#c2c2c2;
    height:20px;
    font-size:14px;
    padding:0 0 0 21px;
    color:#878787;
    outline:none;
  }
  .brandname-division1{
   padding:3px 0;
  }
  .brandname-division2{
   width:100%;
  }
  .brandname-label{
    padding:3px ;
    cursor: pointer;
    width: 100%;
    position: relative;
    display: block;
  }
  .brandname-division3{
    visibility:hidden;
    position:absolute;
    top:0;
    left:0;
  }
  .brandname-division4{
    position:relative;
    width:14px;
    height:14px;
    background-color:transparent;
    border:1.4px solid #c2c2c2;
    border-radius:1.5px;
    box-sizing:border-box;
    display:inline-block;
    vertical-align: middle;
    cursor:pointer;
  }
  .brand-name{
     vertical-align:middle;
     font-size:14px;
     padding-left:11px;
     color:#212121;
     display:inline-block;
     width:72%;
  }
  /********************************************************/

.section-2{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}
.division-6{
  font-size: 12px;
  font-weight:600;
  color: #212121;
  margin-bottom: 5px;
}
.span-2{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.division-sevenone{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight:600;
}
.division-7{
  padding: 5px 0;
    color: #212121;
}
.span-3{
  margin:0px;
  padding:0px;
}
.IZmjtf{
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
.anchor-1{
  color: #878787;
  font-size:14px;
  text-decoration: none;
  font-weight:500;
}
.anchor-2{
  font-weight:500;
   text-decoration: none;
}
.section-5{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}
.division-22{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.division-23{
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
}
.division-24{
  height:25px;
}
.division-25{
  height:100%;
  position:relative;
  bottom:-6px;
  padding:0px;
  margin:0px;
  border:0px;
  background-color:#dfd6d6;
}
.division-26{
  background-color:#dfd6d6;
  display:inline-block;
  padding:0px;
  margin:0px;
  border:0px;

}
.division-28a{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height:29px;
}
.division-28{
  position:relative;
  height:13px;
  cursor:pointer;
}
.division-29{
  transform:translateX(0px);
  left:-13px;
  position: absolute;
  height:20px;
  width:20px;
}
.division-29a{
  right:0px;
  height:13px;
  width:13px;
  right:0;
  border-radius:50%;
  border:1px solid #bababa;
  position:absolute;
  background-color:#fff;
  top:3px;
}
.division-30{
  right:0;
  width:20px;
  height:20px;
  transform: translateX(-1.19px);
  right: -13.5px;
}
.division-30a{
  right:0px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #bababa;
  position: absolute;
  background-color: #fff;
  top: 3.5px;
}
.division-31{
  background-color: #c2c2c2;
  height: 2px;
  display: inline-block;
  position: absolute;
  top: 6px;
  width: 100%;
}
.division-31a{
    transform: translate(0px) scaleX(0.995);
    background-color: #2874f0;
    transform-origin: left center;
    top: 4px;
    height: 6px;
}
.division-33{
    margin-top:-12px;
     background-color:rgb(253, 249, 249);
}
.JxsWRk{
  background-color:rgb(253, 249, 249);
  display:inline-block;
  padding:0px;
  margin:0px;
  border:0px;
  color:#C2C2C2;
  align-items:center;
  font-size:20px;
}
/**********************************************************/
.division-34{
   color: #a3a3a3;
    font-size: 14px;
    margin: 5px -4px 0;
    display: flex;
    align-items: center;
    justify-content: stretch;
}
.division-35{
     
    display: inline-block;
    flex-grow: 2;
}
.select-1{
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 1px;
    appearance: none;
    background: #fff url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwbDUgNSA1LTUiIGZpbGw9IiMyMTIxMjEiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) no-repeat 90% 50%;
    height: 24px;
    font-size: 14px;
    color: #212121;
    line-height: 1;
    padding: 0 5px;
    outline: none;
}

.minimum{
  padding: 0 7px;
  option{
    display:none;
  }
  option.active{
    display:block;
  }
}
.division-36{
  display:inline-block;
  margin: 0 9px;
  font-size: 14px;
  color: #878787;
  line-height: 1;
  flex: 1;
  text-align: center;
}
.division-37{
  display: inline-block;
  margin-left: 1.5px;
  flex-grow: 2;
}
.select-2{
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 1px;
  appearance: none;
  background: #fff url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwbDUgNSA1LTUiIGZpbGw9IiMyMTIxMjEiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) no-repeat 90% 50%;
  height: 24px;
  font-size: 14px;
  color: #212121;
  line-height: 1;
  padding: 0 5px;
  outline: none;
}
  /********************************************************/