@font-face {
  font-family: 'bold';
  src: url(/fonts/Inter-Bolwoff2);
  
}
@font-face {
  font-family: 'regular';
  src: url(/fonts/Inter-Regularwoff2);
  
}
@font-face {
  font-family:'semibold';
  src: url(/fonts/Inter-SemiBold.woff2);
}
