.next-page-section {
  display: flex;
  flex-direction: column;
  width:425px;
  height:108px;
  padding-right:8px;
  padding-left:8px;
}
.list-mobile{
  display:flex;
  flex-direction:row;
}
.sixram-mobile-division{
  display:flex;
  flex-direction:column;
  height:28px;
  margin-right:4px;
  margin-left:4px;
  margin-bottom:8px;
  justify-content:center;
  border:1px solid rgb(113, 116, 120,0.5);
  border-radius:2px;
}
.text-list-mobile{
  font-size:12px;
  line-height:18px;
  padding-left:8px;
  padding-right:8px;
  padding-top:4px;
  padding-bottom:4px;
  align-items:center;
}
.text-ram-width{
  width:172px;
}
.text-list-mobile-division{
  font-family:'normal',Arial, Helvetica, sans-serif;
  color:#717478;
}




.section-five {
  display: flex;
  /* flex-direction:column; */
  padding: 12px 0px;
  /* height:186px;*/
  width: 425px;
}
.section-five-one{
  display:flex;
  flex-direction:row;
}

.mobile-product-division {
  display: flex;
  margin-left: 6px;
  margin-top: 16px;
  /* height:120px;
      width:96px; */
}
.mobile-product-image {
  display: flex;
  height: 120px;
  width: 96px;
}
.left-section-product {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 12px 0px 6px 0px;
  padding: 0px 20px 0px 12px;
}
.sponsered{
    color: rgba(184, 187, 191, 1.00);
    font-size: 12px;
    line-height: 18px;
    font-family: inter_regular;
    letter-spacing: 0px;
    margin-top: -16px;
    margin-bottom: 2px;
}
.mobile-heading {
  display: flex;
}
.heading-span {
  font-size: 16px;
}
.count {
  display: flex;
  margin-bottom: 6px;
}
.span-count {
  font-size: 12px;
  line-height: 18px;
  font-family: inter_regular;
  letter-spacing: 0px;
  color: rgba(113, 116, 120, 1);
  margin-left: 4px;
  padding-bottom: 2px;
}
.assured-image {
  height: 16px;
  width: 60px;
}

.green-arrow-division {
  display: flex;
  flex-direction: row;
}
.green-arrow-image {
  display: flex;
  height: 17px;
  width: 17px;
  align-items: center;
}
.percent-span {
  display: flex;
  color: rgba(0, 140, 0, 1);
  font-weight: bold;
  font-size: 17px;
}
.amount-span {
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.01px;
  color: rgba(113, 116, 120, 1);
  text-decoration: line-through;
}
.product-division-four {
  margin-top: 6px;
  display: flex;
}
.image-division {
  display: flex;
}
.image-wow-logo {
  height: 16px;
  width: 38px;
}
.offer-division {
  display: flex;
}
.bank-offer-text {
  font-size: 12px;
  color: rgba(6, 31, 128, 1);
}
.exchange-division {
  display: flex;
  margin-top: 6px;
}
.upto-span,
.upto-price-span,
.exchange-span {
  font-size: 12px;
}
.upto-span,
.exchange-span {
  display: flex;
  height: 16px;
  width: 28px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.upto-price-span {
  height: 17px;
  width: 39px;
  display: flex;
  font-family:"semibold";
}
.exchange-span {
  width: 90px;
  height: 14px;
}
.warranty-division {
  display: flex;
  flex-direction:column;
  margin-top: 6px;
}
.warranty-span {
  font-size: 12px;
  color: rgba(102, 102, 102, 1);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-style:'normal';
}
.wishlist-division {
  display:flex;
  height:24px;
  width:24px;
}
.wishlist-image {
  display:flex;
  height:24px;
  width:24px;
  position: relative;
}
.variant-division {
  height: 52px;
  width: 425px;
  align-items: center;
  align-content: center;
}
.variant-span {
  display: block;
  width: 393px;
  height: 20px;
  color: rgba(42, 85, 229, 1);
  margin: 16px;
}